[Unit]
Description=WebRTC pluggable transport proxy for Tor
Documentation=man:snowflake-proxy
Documentation=https://snowflake.torproject.org/
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/snowflake-proxy
Restart=on-failure

# Hardening
User=snowflake
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ProtectControlGroups=yes
ProtectKernelTunables=yes
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
